## Honor Code
**Jordan Martin "On my honor, as a student, I have neither given nor received unauthorized aid on this academic work."**

In [1]:
# Importing packages
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib as plt
import math as m
%matplotlib inline

## 1.a.	Import samplemissing.csv and show top five rows

In [2]:
df=pd.read_csv("samplemissing.csv")
df.head()

        ID  AGE     SEX      REGION   INCOME MARRIED  CHILDREN  CAR
0  ID12701   23    MALE  INNER_CITY  18766.0     YES         1  YES
1  ID12702   30     NaN       RURAL   9915.0      NO         2   NO
2  ID12703   45    MALE       RURAL  21881.0      NO         0  YES
3  ID12704   50    MALE        TOWN      NaN     YES         2   NO
4  ID12705   41  FEMALE  INNER_CITY  80000.0     YES         0   NO

In [3]:
# Question 1: Find out data types
df.dtypes

ID           object
AGE           int64
SEX          object
REGION       object
INCOME      float64
MARRIED      object
CHILDREN      int64
CAR          object
dtype: object

integer columns: AGE, INCOME, CHILDREN

### Basic statistics

In [4]:
# Question 2: Find any data quality issues. Describe the data quality issues and suggest how to handle them
totalChildren = 0
totalPeopleForAvgChildren = 0
totalMale = 0
totalFemale = 0
for index, row in df.iterrows():
    #Checking if IDs are badly formatted
    if row["ID"][0:2] != "ID" or len(row["ID"]) != 7:
        print("ID is bad for: \n" + str(row) + "\n")
    #Checking if age is bad and/or unusual
    if m.isnan(row["AGE"]) or row["AGE"] > 100 or row["AGE"] < 0:
        print("Age is bad for: \n" + str(row) + "\n")
    #Checking if sex is bad
    if row["SEX"] not in ["MALE","FEMALE"]:
        print("Sex is bad for: \n" + str(row) + "\n")
    #Get the total men and women for setting unknown later
    elif row["SEX"] == "MALE":
        totalMale = totalMale + 1
    else:
        totalFemale = totalFemale + 1
    #Checking if region is bad
    if row["REGION"] not in ["INNER_CITY","RURAL","TOWN"]:
        print("Region is bad for: \n" + str(row) + "\n")
    #Checking if income is bad
    if m.isnan(row["INCOME"]) or row["INCOME"] < 0 or row["INCOME"] > 200000000000:
        print("Income is bad for: \n" + str(row) + "\n")
    #Checking if married is bad
    if row["MARRIED"] not in ["YES","NO"]:
        print("Married is bad for: \n" + str(row) + "\n")
    #Checking if children is bad and/or unusual
    if m.isnan(row["CHILDREN"]) or row["CHILDREN"] > 10 or row["CHILDREN"] < 0:
        print("Children is bad for: \n" + str(row) + "\n")
    #Get the total children for average late
    else:
        totalChildren = totalChildren + row["CHILDREN"]
        totalPeopleForAvgChildren = totalPeopleForAvgChildren + 1
    #Checking if car is bad
    if row["CAR"] not in ["YES","NO"]:
        print("Car is bad for: \n" + str(row) + "\n")
avgChildren = totalChildren / totalPeopleForAvgChildren
avgChildren = int(avgChildren)
print("Average data for later:")
print("Average number of children: " + str(avgChildren))
if totalMale > totalFemale:
    print("There are more males than females")
else:
    print("There are more females than males or the two are equal")

Sex is bad for:
ID          ID12702
AGE              30
SEX             NaN
REGION        RURAL
INCOME         9915
MARRIED          NO
CHILDREN          2
CAR              NO
Name: 1, dtype: object

Income is bad for:
ID          ID12704
AGE              50
SEX            MALE
REGION         TOWN
INCOME          NaN
MARRIED         YES
CHILDREN          2
CAR              NO
Name: 3, dtype: object

Children is bad for:
ID          ID12710
AGE              57
SEX          FEMALE
REGION         TOWN
INCOME        19621
MARRIED         YES
CHILDREN         99
CAR             YES
Name: 9, dtype: object

Income is bad for:
ID             ID12721
AGE                 50
SEX             FEMALE
REGION      INNER_CITY
INCOME           -1000
MARRIED            Yes
CHILDREN             2
CAR                YES
Name: 10, dtype: object

Married is bad for:
ID             ID12721
AGE                 50
SEX             FEMALE
REGION      INNER_CITY
INCOME           -1000
MARRIED            Yes
CHILDREN             2
CAR                YES
Name: 10, dtype: object

Average data for later:
Average number of children: 1
There are more females than males or the two are equal

#### There are a few things that are wrong with the data that was provided:
1. ID12702 does not have a sex
1. ID12704 has no income
1. ID12710 has 99 children
1. ID12721 has a negative income
1. ID12721's value for married is not in all caps like the rest

In [5]:
# Question 3: Handle inconsistent data and missing values
for index, row in df.iterrows():
    #If sex is bad, set to more popular out of male and female
    if row["SEX"] not in ["MALE","FEMALE"]:
        if totalMale > totalFemale:
            df.at[index,"SEX"] = "MALE"
        else:
            df.at[index,"SEX"] = "FEMALE"
    #If income is negative, NaN or larger than any person, set to zero
    if m.isnan(row["INCOME"]) or row["INCOME"] < 0 or row["INCOME"] > 200000000000:
        df.at[index,"INCOME"] = 0
    #If married is not capitalized, capitalize it
    if row["MARRIED"] in ["Yes","No"]:
        df.at[index,"MARRIED"] = row["MARRIED"].upper()
    #If children is bad or unusual, set to null
    if row["CHILDREN"] > 10 or row["CHILDREN"] < 0:
        df.at[index,"CHILDREN"] = avgChildren

#### Question 4: Replace negative numbers (e.g., minus income) by zero
This was handled in the previous question

In [6]:
# Question 5: Filter rows using a criterion. Please define criterion by yourself
#Filtering to only grab people with income of at least 20000
df_20k = df[(df['INCOME'] >= 20000.0)]
df_20k

        ID  AGE     SEX      REGION   INCOME MARRIED  CHILDREN  CAR
2  ID12703   45    MALE       RURAL  21881.0      NO         0  YES
4  ID12705   41  FEMALE  INNER_CITY  80000.0     YES         0   NO
6  ID12707   46  FEMALE       RURAL  39068.0     YES         0  YES
7  ID12708   50  FEMALE  INNER_CITY  27740.0     YES         1  YES
8  ID12709   42    MALE  INNER_CITY  33584.0      NO         3  YES

In [7]:
# Question 6: Export the final data to csv or excel.
df_20k.to_csv('sample.csv')

In [8]:
# Question 7: Import both datasets customer.xls and order.xls
# (the goal is to master data integration techniques using join)
customer = pd.read_excel('customer.xls')
order = pd.read_excel('order.xls')

In [9]:
# Question 8: Identify the primary (or common) key for joining
print(customer)
print(order)

   CustomerID FirstName  LastName                  Email        DOB  \
0           1      John     Smith   John.Smith@yahoo.com 1968-02-04
1           2    Steven  Goldfish  goldfish@fishhere.net 1974-04-04
2           3     Paula     Brown    pb@herowndomain.org 1978-05-24
3           4     James     Smith     jim@supergig.co.uk 1980-02-10

          Phone
0  626 222-2222
1  323 455-4545
2  416 323-3232
3  416 323-8888
   CustomerID  Order_Id  OrderNo
0           3         1    77895
1           3         2    44678
2           1         3    22456
3           1         4    24562
4          15         5    34764

#### It looks like CustomerID is the primary key for joining

In [10]:
# Question 9: Perform inner join, left join, and right join. Discuss the results of the three types of join
inner = customer.merge(order, on='CustomerID', how='inner')
left = customer.merge(order, on='CustomerID', how='left')
right = customer.merge(order, on='CustomerID', how='right')
print(inner)
print(left)
print(right)

   CustomerID FirstName LastName                 Email        DOB  \
0           1      John    Smith  John.Smith@yahoo.com 1968-02-04
1           1      John    Smith  John.Smith@yahoo.com 1968-02-04
2           3     Paula    Brown   pb@herowndomain.org 1978-05-24
3           3     Paula    Brown   pb@herowndomain.org 1978-05-24

          Phone  Order_Id  OrderNo
0  626 222-2222         3    22456
1  626 222-2222         4    24562
2  416 323-3232         1    77895
3  416 323-3232         2    44678
   CustomerID FirstName  LastName                  Email        DOB  \
0           1      John     Smith   John.Smith@yahoo.com 1968-02-04
1           1      John     Smith   John.Smith@yahoo.com 1968-02-04
2           2    Steven  Goldfish  goldfish@fishhere.net 1974-04-04
3           3     Paula     Brown    pb@herowndomain.org 1978-05-24
4           3     Paula     Brown    pb@herowndomain.org 1978-05-24
5           4     James     Smith     jim@supergig.co.uk 1980-02-10

          Phone  Order_Id  OrderNo
0  626 222-2222       3.0  22456.0
1  626 222-2222       4.0  24562.0
2  323 455-4545       NaN      NaN
3  416 323-3232       1.0  77895.0
4  416 323-3232       2.0  44678.0
5  416 323-8888       NaN      NaN
   CustomerID FirstName LastName                 Email        DOB  \
0           1      John    Smith  John.Smith@yahoo.com 1968-02-04
1           1      John    Smith  John.Smith@yahoo.com 1968-02-04
2           3     Paula    Brown   pb@herowndomain.org 1978-05-24
3           3     Paula    Brown   pb@herowndomain.org 1978-05-24
4          15       NaN      NaN                   NaN        NaT

          Phone  Order_Id  OrderNo
0  626 222-2222         3    22456
1  626 222-2222         4    24562
2  416 323-3232         1    77895
3  416 323-3232         2    44678
4           NaN         5    34764

#### The inner join only retains the records that match in the two tables, so customers with IDs 2, 4 and 15 are dropped
#### The left join retains the records that exist in the left table, in this case the customer table, so we get IDs 1 through 4
#### The right join retains the records that exist in the right table, in this case the order table, so we get IDs 1, 3 and 15
#### For the left and right joins, any unknown values due to non-existence in the other table get the value NaN