## Honor Code
**Jordan Martin  
K-State Honor Code  
"On my honor, as a student, I have neither given nor received unauthorized aid on this academic work."**

In [1]:
# import packages
import requests
from lxml import html
import csv
import pandas as pd

In [2]:
# request the web page
r = requests.get('http://www.pro-football-reference.com/years/2017/draft.htm')
data = html.fromstring(r.text)

## 1. Collect the data (e.g., pick, player)

In [3]:
# Question 1: 
# You need to collect the following data: pick, player, pos (position), age, G (games
# played), Cmp (passes completed), Att (passes attempted), and college. The collected data
# should be converted to a data frame (Excel-like format). Therefore, the final dataset
# should contain eight columns.
# Gathering each of the column data from the appropriate location in the html
table = pd.DataFrame(list(zip(data.xpath("//td[@data-stat='draft_pick']/text()"),
                 data.xpath("//td[@data-stat='player']/strong/a/text()"),
                 data.xpath("//td[@data-stat='pos']/text()"),
                 data.xpath("//td[@data-stat='age']/text()"),
                 data.xpath("//td[@data-stat='g']/text()"),
                 data.xpath("//td[@data-stat='pass_cmp']/text()"),
                 data.xpath("//td[@data-stat='pass_att']/text()"),
                 data.xpath("//td[@data-stat='college_id']/a/text()"))))

## 2. Rename the column names (e.g., 0 to Pick, 1 to Player)

In [4]:
# Question 2: Rename the column names (e.g., 0 to Pick, 1 to Player)
# Renaming columns appropriately
table.columns = ['Pick','Player','Pos','Age','G','Cmp','Att','College']

In [5]:
# Question 3: Check the data types. You will find out that all columns are object or string.
# Displaying the type of each column
table.dtypes

Pick       object
Player     object
Pos        object
Age        object
G          object
Cmp        object
Att        object
College    object
dtype: object

In [6]:
# Question 4: Convert three columns (G, Cmp, and Att) to numbers.
# Converting games, completions and attempts to numeric values
table['G'] = pd.to_numeric(table['G'])
table['Cmp'] = pd.to_numeric(table['Cmp'])
table['Att'] = pd.to_numeric(table['Att'])

In [7]:
# Question 5: Calculate a new column (“PassCompletionRate”) = Cmp /Att
# Creating a new column that is the pass completion rate
table['PassCompletionRate'] = table['Cmp']/table['Att']

In [8]:
# Question 6: Find out the top five players in terms of games played
# Hint: df.head(5) displays five rows; df.head(10) displays ten rows
# Sorting the table by games and displaying the top 5
table.sort_values('G', ascending=False).head(5)

,Pick,Player,Pos,Age,G,Cmp,Att,College,PassCompletionRate
62,63,Ahkello Witherspoon,G,23,34,0,0,Temple,NaN
7,8,Christian McCaffrey,RB,21,34,1,1,Stanford,1.0
81,82,Davis Webb,WR,22,34,0,0,Louisiana Tech,NaN
117,118,David Sharpe,WR,23,33,0,0,North Carolina,NaN
123,124,Zach Banner,LB,22,33,0,0,Tennessee,NaN

In [9]:
# Question 7: Find out the top ten schools in terms of the number of players drafted
# Grouping the players by college, finding only the top 10, then dropping the irrelevant columns,
# renaming Player to NumberOfPlayers appropriately, and then displaying the data
schools = table.groupby('College').count().sort_values('Player', ascending=False).head(10)\
.drop(['Pick','Pos','Age','G','Cmp','Att','PassCompletionRate'], axis=1)
schools.rename(columns={'Player':'NumberOfPlayers'}, inplace=True)
schools

                NumberOfPlayers
College
Michigan                     11
Alabama                      10
Utah                          8
LSU                           7
Florida                       7
Clemson                       6
Ohio St.                      6
Tennessee                     6
North Carolina                5
Texas A&M                     5

In [10]:
# Question 8: Develop your own question and provide an answer 
# Find the top five positions in terms of the number of players
# Grouping the players by position, finding the top 5, then dropping the irrelevant columns,
# renaming Player to NumberOfPlayers appropriately, and then displaying
positions = table.groupby('Pos').count().sort_values('Player', ascending=False).head(5)\
.drop(['Pick','Age','G','Cmp','Att','College','PassCompletionRate'], axis=1)
positions.rename(columns={'Player':'NumberOfPlayers'}, inplace=True)
positions

     NumberOfPlayers
Pos
WR                27
CB                24
RB                22
S                 21
DE                17